body {
    background-color: #262626;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.6);
}

p {
       color: #fff;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 14px;
    /* border: 2px solid #fff; */
    height: 40px;
    line-height: 38px;
    margin: 0 0 20px;
 
}
p span{
border: 2px solid #fff;
border-radius: 40px;
padding: 10px 40px;
}
img.logo-demo {
    margin: 40px auto;
    text-align: center;
    width: 180px;
}
