/*
main color :#46BF06;
*/

.modify .title h1 strong,
.spec-car dt:before,
.knob-circle i,
.spec-title span,
.spec-title i,
.pricing-header h2 span,
.pricing-list ul li i,
.pricing-rate-coustom,
.over-title span {
    color: #46BF06!important;
}

.somefact-title h2 span:before {
    border-color: #46BF06 transparent transparent transparent!important;
}

.somefact-title h2:before {
    background-color: #46BF06!important;
}

.blue-color,
.btn-custom {
    background: #46BF06!important;
    border: 1px solid #46BF06!important;
}

.input-sub {
    border: 1px solid #46BF06!important;
}

.modify .codrops-top a:active,
.modify .codrops-top a:focus,
.modify .codrops-top a.active,
.modify .codrops-top a:hover {
    background: #46BF06!important;
}
